<div class="login" >
  <!-- <form class="custom-form" (ngSubmit)="onSubmitMember()" [formGroup]="loginFormMember"> -->
  <form class="custom-form" (ngSubmit)="login()" [formGroup]="loginFormMember">
      <h1>Login as Member</h1>
    <input class="input" type="email" placeholder="Email..." formControlName="email">
        <p class="error-msg" *ngIf="emailInput.invalid && (emailInput.touched || emailInput.dirty)">Email should be valid</p>
    <input class="input" type="username" placeholder="Username..." formControlName="username">
        <p class="error-msg" *ngIf="usernameInput.invalid && (usernameInput.touched || usernameInput.dirty)">Introduce Username</p>
    <input class="input" type="password" placeholder="Password..." formControlName="password">
        <p class="error-msg" *ngIf="passwordInput.invalid && (passwordInput.touched || passwordInput.dirty)">Password should be at least 5 char long</p>
    <button class="button" type="submit" [disabled]="loginFormMember.invalid" >Log in</button>
  </form>
  <form class="custom-form" (ngSubmit)="onSubmitPlayer()" [formGroup]="loginFormPlayer">
    <h1>Login as Visitor</h1>
    <input class="input" type="text"  placeholder="Name..." formControlName="name">
        <p class="error-msg" *ngIf="nameInput.invalid && (nameInput.touched || nameInput.dirty)">
            Name is <strong>required</strong>
        </p>
        <p class="error-msg" *ngIf="nameInput.invalid && (nameInput.touched || nameInput.dirty)">
            Name can't contains digits
        </p>
    <input class="input" type="text" placeholder="Playername..." formControlName="playerName">
        <p class="error-msg" *ngIf="playernameInput.invalid && (playernameInput.touched || playernameInput.dirty)">
            PlayerName is <strong>required</strong>
        </p>
    <button class="button" type="submit" [disabled]="loginFormPlayer.invalid">Log in</button>
    <h4 class="register-text">Don't have an account? <a [routerLink]="['/register']">Create new account</a></h4>
  </form>
</div>
