<!--<div class="container" (ngSubmit)="getDetails()">
  <div class="container">
  <h1>Welcome {{ username }}</h1>
   <button class = "logout" (click)="logout()">Logout</button>
</div>
<div class="profile">
  <div class="member" >
    <div class="data" *ngFor="let member of members" >
      <p>NAME: {{ name | titlecase}}</p>
      <p>PLAYERNAME: {{ playerName }}</p>
      <p>EMAIL: {{ email }}</p>
      <p>LEVEL:  {{ level }}</p>
    </div>
  </div>
  <div class="btn-container">
  </div>
    <div class = "button">
      <button type="button">remove</button>
    </div>
    <div class = "button">
    <button type="button">update</button>
    </div>
</div> -->
<div>
  <img class ="img" src="../../../assets/images/welcome.png" alt="">
</div>

<div class ="input">
  Coming soon, we are working on it....
</div>
<p (click)="goBack()">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 16l-6-6 6-6"/><path d="M20 21v-7a4 4 0 0 0-4-4H5"/></svg>
</p>



