<!-- <div class="container" (ngSubmit)="getDetails()"> -->
  <div class="container">
  <h1>Welcome {{ username }}</h1>
  <button class = "logout" (click)="logout()">Logout</button>
</div>
<div class="profile">
  <div class="member" >
    <div class="data" *ngFor="let member of members" >
      <p>NAME: {{ name | titlecase}}</p>
      <p>PLAYERNAME: {{ playerName }}</p>
      <p>EMAIL: {{ email }}</p>
      <p>LEVEL:  {{ level }}</p>
    </div>
  </div>
  <div class="btn-container">
  </div>
    <div class = "button">
      <button type="button">remove</button>
    </div>
    <div class = "button">
    <button type="button">update</button>
    </div>
</div>


