* {
  box-sizing: border-box;
}
html,
body {
  background: #ecf0f3;
}
h1 {
  margin: 0;
  padding: 0;
}
.container {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
  color: rgb(21, 65, 21);
}
.profile {
  display: block;
}
.profile {
  display: block;
  min-width: 60px;
  max-width: 60%;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.5rem 1rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 2rem;
}


.avatar {
  width: 50px;
  margin: 5px auto 0px;
  display: block;
  border-radius: 50%;
}

.profile p {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
  color: rgb(21, 65, 21);
}

.profile button {
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  color:rgb(21, 65, 21);
  font-weight: bold;
  background-color: #bcd8c1;
  width: 50%;
  height: 70%;
  display: block;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}
