<div class="container">
    <div class="card">
      <div class="header">
        <h1 class="h1">MUSCLUB</h1>
        <div class="container">
          <div class="img2"><img class="imagen" src="../../../assets/images/mus_2.png"></div>
          <marquee>
              <p class="text-info">★ Mus Game Board
                  - - Register for Schedule your Games and Players
                  - - Create New Games, Register as a Member, Get Information of your Games ★</p>
          </marquee>
      </div>
      </div>
    </div>
</div>
