ul
 {
  display: flex;
  list-style: none;
  padding: 20px;
  background-color: rgba(164, 59, 59, 0.935);
 }

 li {
  margin-right: 20px;
 }

 li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
 }

 .active {
  background-color: rgb(222, 75, 75);
 }
